* {font-family: monospace}
.join {color: #5F9F5F; font-style: italic}
.leave {color: #9F9F5F; font-style: italic}
.kick {color: #6F6F6F; font-style: italic}
.ban {color: #6F6F6F; font-style: italic}
.nick {color: #5F5FAF; font-style: italic}
.time {color: #5F5F5F; text-decoration: none}
.system {color: #5F5FAF}
.me {color: #9F5F9F}
.owner {color: #6F0000}
.admin {color: #006F00}
.member {color: #00006F}
.none {color: #6F6F6F}
h1 {color: #3F6F9F; border-bottom: #000000 solid 2pt}
